<!DOCTYPE html>
<html lang="es">
<head><meta charset="utf-8"><meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
	<title>Proyecto DWEB-2021</title>
	<!-- CSS  -->
	<link href="../../css/icon.css" rel="stylesheet" />
	<link href="../../css/materialize.css" media="screen,projection" rel="stylesheet" type="text/css" />
	<link href="../../css/style.css" media="screen,projection" rel="stylesheet" type="text/css" />
</head>
<body><!-- INICIO DEL MENÚ -->
<nav class="purple darken-4" role="navigation">
<div class="nav-wrapper container"><a class="brand-logo" href="#" id="logo-container">Logo</a>
<ul class="right hide-on-med-and-down">
	<li><a href="../home_page.html">Inicio</a></li>
	<li><a class="dropdown-trigger tooltipped" data-position="bottom" data-target="dropdown_registro" data-tooltip="Guardar información" href="#">Registro<i class="material-icons right">arrow_drop_down</i></a></li>
	<li><a class="dropdown-trigger tooltipped" data-position="bottom" data-target="dropdown_consultas" data-tooltip="Ver información" href="#">Consultas<i class="material-icons right">arrow_drop_down</i></a></li>
	<li><a class="dropdown-trigger tooltipped" data-position="bottom" data-target="dropdown_usuario" data-tooltip="Usuario activo" href="#"><i class="material-icons">account_circle</i></a></li>
</ul>
<!-- lista desplegable usuario -->

<ul class="dropdown-content" id="dropdown_usuario">
	<li><a href="../users/password_page.html"><i class="material-icons">vpn_key</i>Clave</a></li>
	<li><a href="../users/create_user_page.html"><i class="material-icons">insert_drive_file</i>Nuevo</a></li>
	<li><a href="../users/update_user_page.html"><i class="material-icons">edit</i>Editar</a></li>
	<li class="divider" tabindex="-1"></li>
	<li><a href="../index.html"><i class="material-icons">exit_to_app</i>Salir</a></li>
</ul>
<!-- lista desplegable consultas -->

<ul class="dropdown-content" id="dropdown_consultas">
	<li><a href="../types/read_type_page.html"><i class="material-icons">verified_user</i>Tipos</a></li>
	<li><a href="../users/read_user_page.html"><i class="material-icons">account_circle</i>Usuarios</a></li>
</ul>
<!-- lista desplegable registro -->

<ul class="dropdown-content" id="dropdown_registro">
	<li><a href="../types/create_type_page.html"><i class="material-icons">verified_user</i>Tipos</a></li>
	<li><a href="../users/create_user_page.html"><i class="material-icons">account_circle</i>Usuarios</a></li>
</ul>
<!-- menú cell -->

<ul class="sidenav blue-grey lighten-4" id="nav-mobile">
	<li><a href="../home_page.html">Inicio</a></li>
	<li><a class="dropdown-trigger tooltipped" data-position="bottom" data-target="dropdown_registro_movil" data-tooltip="Guardar información" href="#">Registro<i class="material-icons right">arrow_drop_down</i></a></li>
	<li><a class="dropdown-trigger tooltipped" data-position="bottom" data-target="dropdown_consultas_movil" data-tooltip="Ver información" href="#">Consultas<i class="material-icons right">arrow_drop_down</i></a></li>
	<li><a class="dropdown-trigger tooltipped" data-position="bottom" data-target="dropdown_usuario_movil" data-tooltip="Usuario activo" href="#"><i class="material-icons">account_circle</i><i class="material-icons right">arrow_drop_down</i></a></li>
</ul>
<!-- lista desplegable usuario MOVIL -->

<ul class="dropdown-content" id="dropdown_usuario_movil">
	<li><a href="../users/password_page.html"><i class="material-icons">vpn_key</i>Clave</a></li>
	<li><a href="../users/create_user_page.html"><i class="material-icons">insert_drive_file</i>Nuevo</a></li>
	<li><a href="../users/update_user_page.html"><i class="material-icons">edit</i>Editar</a></li>
	<li class="divider" tabindex="-1"></li>
	<li><a href="../index.html"><i class="material-icons">exit_to_app</i>Salir</a></li>
</ul>
<!-- lista desplegable consultas MOVIL -->

<ul class="dropdown-content" id="dropdown_consultas_movil">
	<li><a href="../types/read_type_page.html"><i class="material-icons">verified_user</i>Tipos</a></li>
	<li><a href="../users/read_user_page.html"><i class="material-icons">account_circle</i>Usuarios</a></li>
</ul>
<!-- lista desplegable registro MOVIL -->

<ul class="dropdown-content" id="dropdown_registro_movil">
	<li><a href="../types/create_type_page.html"><i class="material-icons">verified_user</i>Tipos</a></li>
	<li><a href="../users/create_user_page.html"><i class="material-icons">account_circle</i>Usuarios</a></li>
</ul>
<a class="sidenav-trigger" data-target="nav-mobile" href="#"><i class="material-icons">menu</i></a></div>
</nav>
<!-- FIN DEL MENÚ --><!-- INICIO DEL CUERPO -->

<div class="section">
<div>
<div class="row">&nbsp;
<div class="row center">
<h3 class="header center black-text">Tipos de usuarios</h3>

<table class="striped card responsive-table">
	<thead>
		<tr>
			<th>ID</th>
			<th>Foto</th>
			<th>Nombres</th>
			<th>Apellidos</th>
			<th>Fecha Cumplea&ntilde;os</th>
			<th>Email</th>
			<th>Direcci&oacute;n</th>
			<th>Tel&eacute;fono</th>
			<th>Tipo usuario</th>
			<th class="center">Acciones</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>1</td>
			<td><img width="100px" src="../../img/maurocakeboss.png" alt="" class="circle responsive-img"> </td>
			<td>Mauro</td>
			<td>Cakeman</td>
			<td>12-01-1990</td>
			<td>mauro.cakeman2021@gmail.com</td>
			<td>San Salvador</td>
			<td>+50376168888</td>
			<td>Gerente</td>
			<td class="center"><a class="black-text" href="#"><i class="material-icons" title="Editar">create</i></a> <a class="black-text" href="#"><i class="material-icons" title="Ver">remove_red_eye</i></a> <a class="black-text" href="#"><i class="material-icons" title="Eliminar">delete</i></a></td>
		</tr>
		<tr>
			<td>2</td>
			<td><img width="100px" src="../../img/iroman.png" alt="" class="circle responsive-img"> </td>
			<td>Tony</td>
			<td>Stark</td>
			<td>11-10-1988</td>
			<td>iroman2021@gmail.com</td>
			<td>San Jacinto</td>
			<td>+50376169091</td>
			<td>Administrador</td>
			<td class="center"><a class="black-text" href="#"><i class="material-icons" title="Editar">create</i></a> <a class="black-text" href="#"><i class="material-icons" title="Ver">remove_red_eye</i></a> <a class="black-text" href="#"><i class="material-icons" title="Eliminar">delete</i></a></td>
		</tr>
		<tr>
			<td>3</td>
			<td><img width="100px" src="../../img/clarkkent.png" alt="" class="circle responsive-img"> </td>
			<td>Clark</td>
			<td>Kent</td>
			<td>11-02-1992</td>
			<td>elheroeconcaparoja@gmail.com</td>
			<td>Soyapango</td>
			<td>+50376167788</td>
			<td>Empleado</td>
			<td class="center"><a class="black-text" href="#"><i class="material-icons" title="Editar">create</i></a> <a class="black-text" href="#"><i class="material-icons" title="Ver">remove_red_eye</i></a> <a class="black-text" href="#"><i class="material-icons" title="Eliminar">delete</i></a></td>
		</tr>
	</tbody>
</table>
</div>
<br />
&nbsp;</div>
</div>
</div>
<!-- FIN DEL CUERPO --><!-- PIE -->

<footer class="page-footer purple darken-4">
<div class="container">
<div class="row">
<div class="col l6 s12">
<h5 class="white-text">Proyecto Desarrollo web 2021</h5>

<p class="grey-text text-lighten-4">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorem cumque totam eaque laboriosam ea maiores! Placeat cum, aliquam excepturi maiores eligendi asperiores dolore libero vero ipsam cupiditate quam impedit dolores.</p>
</div>

<div class="col l3 s12">
<h5 class="white-text">Integrantes</h5>

<ul>
	<li><a class="white-text" href="#!">Nombres completos 1</a></li>
	<li><a class="white-text" href="#!">Nombres completos 2</a></li>
	<li><a class="white-text" href="#!">Nombres completos 3</a></li>
	<li><a class="white-text" href="#!">Nombres completos 4</a></li>
</ul>
</div>

<div class="col l3 s12">
<h5 class="white-text">Contactos</h5>

<ul>
	<li><a class="white-text" href="#!">Email 1</a></li>
	<li><a class="white-text" href="#!">Email 2</a></li>
	<li><a class="white-text" href="#!">Email 3</a></li>
	<li><a class="white-text" href="#!">Email 4</a></li>
</ul>
</div>
</div>
</div>

<div class="footer-copyright">
<div class="container">Facilitador <a class="black-text" href="https://www.youtube.com/channel/UCdCd9f4XTh2sle8P3oT_xYg" target="_blank">Armando S&aacute;nchez Trabajando</a></div>
</div>
</footer>
<!--  Scripts--><script src="../../js/jquery-2.1.1.min.js"></script><script src="../../js/materialize.js"></script><script src="../../js/init.js"></script></body>
</html>